@import url('../fonts/satoshi/css/satoshi.css');


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --main: #fff100;
    --black: #1C1917;
    font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Satoshi-Variable", sans-serif;
}

.text-alt-color{
	color: #A75E41;
}

p, label, span{
	line-height: 200%; /* 27.2px */
	letter-spacing: -0.3px;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
    position: relative;
    z-index: 2;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

/* Text Styles */

.display-1{
	font-size: 336px;
    line-height: 100%;
	letter-spacing: -12px;
    font-weight: 200;
}

.h1{
	font-size: 228px;
    line-height: 100%;
    font-weight: 200;
}

.h2{
	font-size: 152px;
    line-height: 100%;
    letter-spacing: -9px;
    font-weight: 200;
}

.h3{
	font-size: 88px;
    line-height: 100%;
    letter-spacing: -8px;
    font-weight: 200;
}

.h4{
	font-size: 64px;
    line-height: 100%;
    letter-spacing: -4px;
    font-weight: 200;
}

.h5{
	font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 130%;
}

.h6{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 36px */
    letter-spacing: -2px;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.body-large{
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.2px;
}

.body-regular{
    font-size: 16px;
    line-height: 160%; /* 20.8px */
    letter-spacing: -0.2px;
}

.p{
	font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}

.small{
	font-size: 12px;
}

.outline-text{
    -webkit-text-stroke: 1px var(--black);
    color: transparent;
}

.opacity-text{
    opacity: .5;
}

/* Standard text separators */
.std-mb{
    margin-bottom: 30px;
}

.std-hug{
    padding-bottom: 30px;
}

/* Offset title */
.offset-title w{
    display: block;
    padding-left: 5%;
    line-height: 90%;
    margin-bottom: -1%;
}

.dot{
    position: relative;
    display: inline-block;
    margin-left: 0px;
    width: 15px;
    height: 15px;
    background-color: var(--main);
    border-radius: 100%;
    margin-left: -5px;
}

/* Custom Cursor */
.circle-cursor {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -90px;
    background: var(--main);
    border-radius: 80%;
    backface-visibility: hidden;
    mix-blend-mode: multiply;
    z-index: 1;
}

/* Button Styles */
.btn-primary{
    border: 2px solid var(--black);
    padding: 16px 25px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
    position: relative;
    z-index: 11;
}

.btn-primary:hover{
    background-color: var(--main);
    color: var(--black);
    border-color: var(--black);
}

.container{
    max-width: 100%;
    padding: 0px 60px;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    margin-top: 15px;
    padding: 30px 0px;
    transition: .2s ease-in-out all;
}

.nav .logo svg{
    width: 200px;
}

.nav .social-icons{
    margin-right: 30px;
}

.nav .social-icons a{
    color: var(--white);
}

.nav .btn-primary{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
    padding: 0px;
}

.nav .btn-primary span{
    font-size: 9px;
    font-weight: 500;
    line-height: 130%;
    display: block;
    letter-spacing: -0.103px;
}

.nav.scroll{
    background-color: var(--white);
    padding: 10px 0px;
    margin-top: 0px;
    border-bottom: 1px solid var(--black);
}

.nav.scroll .logo svg{
    width: 130px !important;
}

.nav.scroll svg path{
    fill: var(--black);
}

.nav.scroll .brand-color{
    fill: var(--main) !important;
}

.nav.scroll .btn-primary{
    width: 50px;
    height: 50px;
}

.nav.scroll .social-icons a{
    color: var(--black);
    font-size: 1em;
}

.left-nav{
	position: fixed;
	width: 50%;
	min-height: 830px;
	height: 100vh;
	left: -50%;
    top: 0px;
	padding: 80px 40px;
	background-color: #fff;
	transition: 1s ease-in-out all;
    overflow: hidden;
	z-index: 3000;
    opacity: 0;
}

.left-nav .sidebar-menu{
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	color: #000;
}

.right-nav{
	position: fixed;
	width: 50%;
	min-height: 830px;
	height: 100vh;
	right: -50%;
    top: 0px;
	padding: 80px 120px;
    color: #fff;
	background: url(../img/grupohr-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: 1s ease-in-out all;
    overflow: hidden;
	z-index: 3000;
    border-radius: 40px 0px 0px 40px;
}

.right-nav .overlay{
	position: absolute;
	background: rgba(30, 30, 30, 0.57);
	background-blend-mode: multiply;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0px;
	left: 0px;
}


.right-nav .d-flex{
	height: 100%;
}

.right-nav a{
	color: #fff;
}

.right-nav p{
	margin-bottom: 32px;
    font-size: 18px;
}

.right-nav img{
	width: 250px;
}

.right-nav .btn-primary{
    margin-top: 50px;
    border-color: var(--white);
}

.right-nav ul li{
	margin-top: 15px;
}

.right-nav .legal-list a{
	text-decoration: underline;
}

.right-nav .social-icons{
	margin-top: 30px;
}

.social-icons a{
	padding: 0px 8px;
	font-size: 1.5em;
}

.right-nav .close-btn{
	background-color: #fff;
	color: var(--black);
	border:3px solid #fff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	font-size: 1.2em;
	position: absolute;
	z-index: 4;
    top: 60px;
    right: 60px;
	display: block;
}

body.toggled .left-nav{
	left: 0;
    opacity: 1;
}


body.toggled .right-nav{
	right: 0;
    opacity: 1;
}

.sidebar-menu a{
	color: #000;
	font-size: 40px;
	margin-bottom: 30px;
	display: block;	
}

.sidebar-menu a h4{
	display: flex;
  	align-items: center;
  	margin-bottom: 0px;
	transition: .2s ease-in-out all;
	width: 450px;
}

.sidebar-element{
	position: relative;
}

.sidebar-element:hover .hover-card{
	opacity: 1;
	left: 100%;
	z-index: 1;
}

.sidebar-menu a span{
	display: inline-block;
	width: 23px;
	margin-right: 80px;
}

.sidebar-element a{
    position: relative;
}

.sidebar-element .hover-block{
    background-color: var(--main);
    position: absolute;
    width: 0px;
    height: 130%;
    top: -15%;
    left: -30px;
    z-index: -1;
    opacity: 0;
    transition: .5s ease-in-out all;
}

.sidebar-element a:hover .hover-block{
    width: 60vw;
    opacity: 1;
}

.main-nav .display-1{
    opacity: .4;
    position: absolute;
    bottom: -11%;
    width: 150vw;
    left: -15%;  
}

.owl-next,
.owl-prev{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    margin: 0px 5px;
    z-index: 10;
    position: relative;
}

.owl-next{
    border: 1px solid var(--main) !important;
    background: var(--main) !important;
    color: var(--black) !important;
}

.owl-prev{
    background: transparent !important;
    border: 1px solid var(--white) !important;
    color: var(--white);
}

.owl-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 10;
}

.owl-dot{
    background: transparent;
    opacity: .8;
    margin: 0px 5px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid transparent !important;
    position: relative;
    transition: .2s ease-in-out all;
}

.owl-dot:before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--white);
    position: absolute;
    top: 11px;
    left: 11px;
    border-radius: 100%;
    opacity: .8;
}

.owl-dot.active{
    border: 1px solid var(--white) !important;
}

.owl-nav{
    position: absolute;
    bottom: 40px;
}

/* Section Intro */
.intro-carousel .banner-info{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    color: var(--white);
    padding-bottom: 110px;
    padding-left: 60px;
}

.banner-info p span{
    margin-right: 20px;
}

.banner-info .big-num{
    -webkit-text-stroke: 1px var(--white);
    position: absolute;
    bottom: -10px;
    left: 0px;
    opacity: .4;
}


.intro-carousel .owl-nav{
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.section-intro .h2{
    font-size: 120px;
}

.separator-border-effect{
    position: relative;
    z-index: 1;
}

.section-intro .separator-border-effect .overlay-separator{
    background-color: var(--white);
    border-radius: 0px 40px 0px 0px;
    height: 90px;
    width: 40%;
    margin-top: -90px;
}

.intro-menu a{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 14px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.section-about .sticky-content-block{
    position: sticky;
    top: 80px;
    padding-bottom: 40px;
}

.about-image-gallery{
    margin-top: 250px;
    position: relative;
    z-index: 2;
}

.about-image-gallery .image-wrap{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
	border-radius: 20px;
    margin-bottom: 35px;
}

.image-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.section-about{
    margin-bottom: 70px;
}

.section-about .display-1{
    position: absolute;
    right: -200%;
    top: 2%;
    opacity: .4;
    z-index: -7;
}

.section-about .std-hug{
    padding-top: 60px;
}

.section-title{
    margin-top: 100px;
    margin-bottom: 40px;
}

.section-clients{
    padding: 30px 0px;
}

.section-clients hr{
    margin-bottom: 50px !important;
}

/* Showroom CTA */
.section-showroom-cta{
    margin-top: 90px;
}

.showroom-carousel .owl-dots{
    left: 120px;
}

.showroom-carousel .owl-nav{
    right: 35%;
}

.showroom-border-wrap{
    background-color: var(--white);
    border-radius: 0px 0px 40px 0px;
    padding: 50px;
    padding-right: 120px;
    position: absolute;
    z-index: 2;
    top: 0px;
}

.showroom-border-wrap:before{
    content: "";
    width: 10vw;
    height: 100%;
    position: absolute;
    left: -10vw;
    top: 0px;
    background-color: var(--white);
}

.showroom-list-content{
    background-color: var(--white);
    padding: 50px;
    padding-right: 120px;
    border-radius: 40px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.showroom-list-content:before{
    content: "";
    width: 10vw;
    height: 100%;
    position: absolute;
    right: -10vw;
    top: 0px;
    background-color: var(--white);
}

.section-products{
    margin-bottom: 120px;
}

.section-products .separator-border-effect .overlay-separator{
    background-color: var(--white);
    border-radius: 0px 40px 0px 0px;
    height: 90px;
    width: 30%;
    margin-top: -90px;
}


.product-carousel .owl-stage-outer{
    overflow: initial;
}

.product-carousel .image-wrap{
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.product-carousel .image-wrap img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 110%;
    height: auto !important;
}

.product-carousel .owl-nav{
    right: 40px;
    bottom: 30px;
}

.product-carousel .product-info{
    position: absolute;
    bottom: -120px;
    right: 30px;
}


.section-products .h3{
    margin-top: -20px;
    position: relative;
    z-index: 3;
    margin-bottom: 65px;
}

/* Paginas Internas */

.section-image-cover{
    background: url(../img/about-us-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 45vh 0px 80px 30px;
}

.section-image-cover .offset-title{
    color: var(--white);
}

.section-image-cover .content-block-overlay{
    position: absolute;
    background-color: var(--white);
    border-radius: 40px 0px 0px 0px;
    bottom: -80px;
    right: 0px;
    z-index: 2;
    width: 35%;
    padding: 50px 70px;
    padding-right: 130px;
}

.content-block-overlay .btn-primary{
    margin-top: 40px;
}

.content-block-overlay .top-text{
    position: absolute;
    top: -60px;
    color: var(--white);
}

.top-text span{
    margin-right: 15px;
}


/* Pie de Pagina */
footer{
    padding: 50px 0px;
    background: var(--white);
}

footer .footer-logo{
    width: 170px;
}

footer .copyright-text{
    opacity: .3;
}

.social-icons{
    margin-bottom: 0px;
}

footer .social-icons{
    text-align: right;
}

.map-wrapper{
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}
