@import url('../fonts/satoshi/css/satoshi.css');


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --main: #fff100;
    --black: #1C1917;
    font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Satoshi-Variable", sans-serif;
}

.text-alt-color{
	color: #A75E41;
}

p, label, span, li{
    font-family: "Satoshi-Variable", sans-serif;
	line-height: 200%; /* 27.2px */
	letter-spacing: -0.3px;
}

a {
    font-family: "Satoshi-Variable", sans-serif;
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
    position: relative;
    z-index: 2;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

/* Text Styles */

.display-1{
	font-size: 336px;
    line-height: 100%;
	letter-spacing: -12px;
    font-weight: 200;
}

.h1{
	font-size: 228px;
    line-height: 100%;
    font-weight: 200;
}

.h2{
	font-size: 152px;
    line-height: 100%;
    letter-spacing: -9px;
    font-weight: 200;
}

.h3{
	font-size: 88px;
    line-height: 100%;
    letter-spacing: -8px;
    font-weight: 200;
}

.h4{
	font-size: 64px;
    line-height: 100%;
    letter-spacing: -4px;
    font-weight: 200;
}

.h5{
	font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 130%;
}

.h6{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 36px */
    letter-spacing: -2px;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.body-large{
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.2px;
}

.body-regular{
    font-size: 16px;
    line-height: 160%; /* 20.8px */
    letter-spacing: -0.2px;
}

.p{
	font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}

.small{
	font-size: 12px;
}

.outline-text{
    -webkit-text-stroke: 1px var(--black);
    color: transparent;
}

.opacity-text{
    opacity: .5;
}

/* Standard text separators */
.std-mb{
    margin-bottom: 30px;
}

.std-hug{
    padding-bottom: 30px;
}

/* BRAND WHATSAPP */
.whatsapp-green{
    color: #25D366;
}

/* Offset title */
.offset-title w{
    display: block;
    padding-left: 5%;
    line-height: 90%;
    margin-bottom: -1%;
}

.dot{
    position: relative;
    display: inline-block;
    margin-left: 0px;
    width: 15px;
    height: 15px;
    background-color: var(--main);
    border-radius: 100%;
    margin-left: -5px;
}

/* Custom Cursor */
.circle-cursor {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -90px;
    background: var(--main);
    border-radius: 80%;
    backface-visibility: hidden;
    mix-blend-mode: multiply;
}

/* Button Styles */
.btn-primary{
    border: 2px solid var(--black);
    padding: 16px 25px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
    position: relative;
    z-index: 11;
}

.btn-primary:hover{
    background-color: var(--main);
    color: var(--black);
    border-color: var(--black);
}

.floating-whatsapp{
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    z-index: 9999999;
    text-decoration: none;
    border-radius: 20px 20px 0px 20px;
    text-align: center;
    line-height: 80px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    display: block;
    background-color: #25D366;
    bottom: 30px;
    left: 30px;
}

.floating-whatsapp::before{
    content: 'Hablemos.';
    position: absolute;
    left: 40px;
    background: #25D366;
    line-height: 28px;
    padding: 4px 20px 6px 40px;
    border-radius: 0px 20px 20px 0px;
    bottom: 0px;
    z-index: -1;
  }

.floating-whatsapp ion-icon{
    font-size: 1.4em;
}

.container{
    max-width: 100%;
    padding: 0px 60px;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    margin-top: 15px;
    padding: 30px 0px;
    transition: .2s ease-in-out all;
}

.nav .logo svg{
    width: 200px;
}

.nav .social-icons{
    margin-right: 30px;
}

.nav .social-icons a{
    color: var(--white);
}

.nav .btn-primary{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
    padding: 0px;
}

.nav .btn-primary span{
    font-size: 9px;
    font-weight: 500;
    line-height: 130%;
    display: block;
    letter-spacing: -0.103px;
}

.nav.scroll{
    background-color: var(--white);
    padding: 10px 0px;
    margin-top: 0px;
    border-bottom: 1px solid var(--black);
    z-index: 99;
}

.nav.scroll .logo svg{
    width: 130px !important;
}

.nav.scroll svg path{
    fill: var(--black);
}

.nav.scroll .brand-color{
    fill: var(--main) !important;
}

.nav.scroll .btn-primary{
    width: 50px;
    height: 50px;
}

.nav.scroll .social-icons a{
    color: var(--black);
    font-size: 1em;
}

.left-nav{
	position: fixed;
	width: 50%;
	min-height: 830px;
	height: 100vh;
	left: -50%;
    top: 0px;
	padding: 80px 40px;
	background-color: #fff;
	transition: 1s ease-in-out all;
    overflow: hidden;
	z-index: 3000;
    opacity: 0;
}

.left-nav .sidebar-menu{
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	color: #000;
}

.right-nav{
	position: fixed;
	width: 50%;
	min-height: 830px;
	height: 100vh;
	right: -50%;
    top: 0px;
	padding: 80px 120px;
    color: #fff;
	background: url(../img/grupohr-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: 1s ease-in-out all;
    overflow: hidden;
	z-index: 3000;
    border-radius: 40px 0px 0px 40px;
}

.right-nav .overlay{
	position: absolute;
	background: rgba(30, 30, 30, 0.57);
	background-blend-mode: multiply;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0px;
	left: 0px;
}


.right-nav .d-flex{
	height: 100%;
}

.right-nav a{
	color: #fff;
}

.right-nav p{
	margin-bottom: 32px;
    font-size: 18px;
}

.right-nav img{
	width: 250px;
}

.right-nav .btn-primary{
    margin-top: 50px;
    border-color: var(--white);
}

.right-nav ul li{
	margin-top: 15px;
}

.right-nav .legal-list a{
	text-decoration: underline;
}

.right-nav .social-icons{
	margin-top: 30px;
}

.social-icons a{
	padding: 0px 8px;
	font-size: 1.5em;
}

.main-nav .close-btn{
	background-color: #fff;
	color: var(--black);
	border:3px solid #fff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	font-size: 1.2em;
	position: absolute;
	z-index: 4;
    top: 60px;
    right: 60px;
	display: block;
}

.left-nav .close-btn{
    display: none;
}

body.toggled .left-nav{
	left: 0;
    opacity: 1;
}


body.toggled .right-nav{
	right: 0;
    opacity: 1;
}

.sidebar-menu a{
	color: #000;
	font-size: 40px;
	margin-bottom: 30px;
	display: block;	
}

.sidebar-menu a h4{
	display: flex;
  	align-items: center;
  	margin-bottom: 0px;
	transition: .2s ease-in-out all;
	width: 450px;
}

.sidebar-element{
	position: relative;
}

.sidebar-element:hover .hover-card{
	opacity: 1;
	left: 100%;
	z-index: 1;
}

.sidebar-menu a span{
	display: inline-block;
	width: 23px;
	margin-right: 80px;
}

.sidebar-element a{
    position: relative;
}

.sidebar-element .hover-block{
    background-color: var(--main);
    position: absolute;
    width: 0px;
    height: 130%;
    top: -15%;
    left: -30px;
    z-index: -1;
    opacity: 0;
    transition: .5s ease-in-out all;
}

.sidebar-element a:hover .hover-block{
    width: 60vw;
    opacity: 1;
}

.main-nav .display-1{
    opacity: .4;
    position: absolute;
    bottom: -11%;
    width: 150vw;
    left: -15%;  
}

.owl-next,
.owl-prev{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    margin: 0px 5px;
    z-index: 10;
    position: relative;
}

.owl-next{
    border: 1px solid var(--main) !important;
    background: var(--main) !important;
    color: var(--black) !important;
}

.owl-prev{
    background: transparent !important;
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
}

.owl-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 10;
}

.owl-dot{
    background: transparent;
    opacity: .8;
    margin: 0px 5px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid transparent !important;
    position: relative;
    transition: .2s ease-in-out all;
}

.owl-dot:before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--white);
    position: absolute;
    top: 11px;
    left: 11px;
    border-radius: 100%;
    opacity: .8;
}

.owl-dot.active{
    border: 1px solid var(--white) !important;
}

.owl-nav{
    position: absolute;
    bottom: 40px;
}

/* Section Intro */
.intro-carousel .banner-info{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    color: var(--white);
    padding-bottom: 110px;
    padding-left: 60px;
}

.banner-info p span{
    margin-right: 20px;
}

.banner-info .big-num{
    -webkit-text-stroke: 1px var(--white);
    position: absolute;
    bottom: -10px;
    left: 0px;
    opacity: .4;
}

.section-intro .banner{
    height: 85vh;
    overflow: hidden;
    position: relative;
}

.section-intro .banner img{
    position: relative;
    top: -15%;
}

.intro-carousel .owl-nav{
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.section-intro .h2{
    font-size: 7.5vw;
}

.separator-border-effect{
    position: relative;
    z-index: 1;
}

.section-intro .separator-border-effect{
    width: 40vw;
}

.section-intro .separator-border-effect .overlay-separator{
    background-color: var(--white);
    border-radius: 0px 40px 0px 0px;
    height: 90px;
    width: 40vw;
    margin-top: -90px;
    position: relative;
}

.separator-border-effect .overlay-separator::after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    bottom: 0px;
}

.intro-menu a{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 14px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.2px;
}

.section-about .sticky-content-block{
    position: sticky;
    top: 80px;
    padding-bottom: 40px;
}

.about-image-gallery{
    margin-top: 250px;
    position: relative;
    z-index: 2;
}

.about-image-gallery .image-wrap{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
	border-radius: 20px;
    margin-bottom: 35px;
}

.image-wrap img{
    width: auto !important;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.section-about{
    margin-bottom: 70px;
}

.section-about .display-1{
    position: absolute;
    right: -200%;
    top: 2%;
    opacity: .4;
    z-index: -7;
}

.section-about .std-hug{
    padding-top: 60px;
}

.section-title{
    margin-top: 100px;
    margin-bottom: 40px;
    z-index: -1;
    position: relative;
}

.section-title hr{
    opacity: .3;
}

.section-title .body-large{
    font-weight: 800;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, .25);
    display: inline-block;
    padding-right: 60px;
    padding-top: 25px;
    z-index: 2;
    position: relative;
    margin-bottom: -17px;
    padding-bottom: 25px;
    height: 84px;
}

.section-title .body-large:before{
    content: "";
    background: url(../img/title-line.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 267px;
    height: 84px;
    right: -266px;
    top: -1px;
    z-index: 2;
}

.section-title .body-large:after{
    content: "";
    background-color: #fff;
    width: 150px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.section-clients{
    padding: 30px 0px;
}

.section-clients hr{
    margin-bottom: 50px !important;
}

.logo-wrap{
    height: 120px;
    display: flex;
    align-items: center;
}

/* Showroom CTA */
.section-showroom-cta{
    margin-top: 90px;
}

.showroom-carousel .item{
    position: relative;
    overflow: hidden;
    height: 650px;
}

.showroom-carousel .item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.showroom-carousel .owl-dots{
    left: 120px;
}

.showroom-carousel .owl-nav{
    right: 35%;
}

.showroom-border-wrap{
    background-color: var(--white);
    border-radius: 0px 0px 40px 0px;
    padding: 50px;
    padding-right: 120px;
    position: absolute;
    z-index: 2;
    top: 0px;
}

.showroom-border-wrap:before{
    content: "";
    width: 10vw;
    height: 100%;
    position: absolute;
    left: -10vw;
    top: 0px;
    background-color: var(--white);
}

.showroom-border-wrap:after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    top: 0px;
    transform: rotate(90deg);
}

.showroom-list-content{
    background-color: var(--white);
    padding: 50px;
    padding-right: 120px;
    border-radius: 40px 0px 0px 0px;
    position: absolute;
    bottom: -1px;
    z-index: 1;
}

.showroom-list-content:before{
    content: "";
    width: 10vw;
    height: 100%;
    position: absolute;
    right: -10vw;
    top: 0px;
    background-color: var(--white);
}

.showroom-list-content:after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    bottom: 0px;
    transform: rotate(270deg);
}

.showroom-list-content h6 span{
    background: var(--main);
    color: var(--black);
    display: inline-block;
    padding: 1px 8px;
    line-height: 180%;
}

.section-products{
    margin-bottom: 60px;
}

.product-card{
    margin-bottom: 60px;
}

.section-products .separator-border-effect{
    width: 35vw;
}

.section-products .separator-border-effect .overlay-separator{
    background-color: var(--white);
    border-radius: 0px 40px 0px 0px;
    height: 90px;
    width: 35vw;
    margin-top: -89px;
    position: relative;
}

.section-products .separator-border-effect .overlay-separator::before{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 60px;
    top: -40px;
}

.product-carousel .owl-stage-outer{
    overflow: initial;
}

.product-carousel .image-wrap{
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.product-carousel .image-wrap img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120% !important;
    height: auto !important;
}

.product-carousel .owl-nav{
    right: 40px;
    bottom: 30px;
}

.product-carousel .product-info{
    position: absolute;
    bottom: -120px;
    right: 30px;
}

.section-products .h3{
    margin-top: -20px;
    position: relative;
    z-index: 3;
    margin-bottom: 65px;
}

/*
.section-testimonial{
    padding: 60px 0px;
}
*/

.testimonial-carousel{
    padding:60px 0px
}

.section-testimonial .media{
    border-top: 1px solid rgba(0,0,0,.4);
    margin-bottom: 40px;
    padding-top: 40px;
}

.section-testimonial .media img{
    width: 100px;
    margin-right: 40px;
}

.section-testimonial .owl-nav{
    bottom: 0px;
}

/* Paginas Internas */

.section-image-cover{
    background: url(../img/about-us-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 45vh 0px 80px 30px;
    position: relative;
    overflow: hidden;
}

.section-image-cover .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    display: block;
}

.section-image-cover .offset-title{
    color: var(--white);
    font-size: 5vw;
}

.section-image-cover .content-block-overlay{
    position: absolute;
    background-color: var(--white);
    border-radius: 40px 0px 0px 0px;
    bottom: -80px;
    right: 0px;
    z-index: 2;
    width: 45%;
    padding: 50px 70px;
    padding-right: 130px;
}

.section-image-cover .content-block-overlay:after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    bottom: 0px;
    transform: rotate(270deg);
}

.content-block-overlay .btn-primary{
    margin-top: 40px;
}

.content-block-overlay .top-text{
    position: absolute;
    top: -60px;
    color: var(--white);
}

.top-text span{
    margin-right: 15px;
}

.testimonial-carousel-bg .media{
    margin-bottom: 70px;
}

.testimonial-carousel-bg .owl-nav{
    bottom: 80px;
}

.testimonial-project-carousel .item{
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 40px;
}

.testimonial-project-carousel .item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
    z-index: -1;
}

.testimonial-project-carousel .owl-nav{
    bottom: 30px;
    left: 30px;
}

.testimonial-project-carousel .project-info{
    right: 0px;
    bottom: 0px;
    width: 60%;
    color: var(--white);
    padding: 30px 60px;
    position: absolute;
    z-index: 1;
}

.testimonial-project-carousel .btn-primary{
    position: absolute;
    top: 30px;
    right: 60px;
}

.gallery-carousel{
    padding-top: 70px;
    padding-bottom: 40px;
}

.gallery-carousel .owl-nav{
    right: 0px;
    bottom: 90px;
}

.gallery-carousel .gallery-info{
    padding-top: 40px;
    padding-left: 20px;
    width: 40%;
    font-size: 18px;
}

.gallery-image-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.gallery-info p{
    margin-bottom: 0px;
}

.gallery-carousel .owl-stage-outer{
    overflow: initial;
}

.section-gallery-video{
    margin-bottom: 40px;
}

.dark-background{
    background-color: var(--black);
    color: var(--white) !important;
}

/* Contact */
.section-contact{
    background: url(../img/contact-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Process Cards */

.section-process{
    padding-bottom: 120px;
}

.process-container{
    margin-top: 120px;
    position: relative;
}

.process-row{
    margin-bottom: 100px; 
    position: relative;
}

.process-info img{
    padding-right: 15%;
    width: 100%;
}

.timeline{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: var(--white);
    height: 150%;
    top: 15px;
}

.timeline-dot{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--white);
    padding: 0px;
    top: 15px;
}

.process-title{
    display: flex;
}

.process-row p{
    width: 60%;
    margin-bottom: 40px;
}

.process-title span{
    display: inline-block;
    margin-right: 25px;
    margin-left: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 23.4px */
    letter-spacing: -0.2px;
}

.section-image-separator{
    background: url(../img/about-us-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 90vh;
    position: relative;
    margin-top: 160px;
}

.section-image-separator .h4{
    font-size: 3.5vw;
}

.separator-border-wrap{
    background-color: var(--white);
    border-radius: 0px 0px 40px 0px;
    padding: 50px;
    padding-right: 120px;
    position: absolute;
    z-index: 2;
    top: 0px;
}

.separator-border-wrap:before{
    content: "";
    width: 10vw;
    height: 100%;
    position: absolute;
    left: -10vw;
    top: 0px;
    background-color: var(--white);
}

.separator-border-wrap:after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    top: 0px;
    transform: rotate(90deg);
}

.section-experience{
    padding: 60px 0px;
}

.section-experience .hiper-big{
    line-height: 70%;
    margin-right: 20px;
}

.section-experience .body-regular{
    width: 60%;
    margin-top: 80px;
}

.no-border-marquee .section-clients hr{
    display: none;
}

.no-border-marquee .section-clients{
    padding: 50px 0px;
}

/* Projects Page */

.project-title{
    position: sticky;
    top: 50%;
    padding: 135px 60px 60px 0px;
    transform: translateY(-50%);
}

.project-title p{
    padding-left: 80px;
}

.projects-cards-gallery{
    position: relative;
    top: 0px;
    right: -5vw
}

.project-card-wrap{
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    min-height: 85vh;
    width: 100%;
    border-radius: 30px 0px 0px 30px;
    background-color: var(--black);
}

.project-card-wrap img{
    position: absolute;
    height: 110%;
    top: -10px;
    left: -10px;
    width: auto;
    opacity: .9;
}

.project-card-wrap .project-info{
    position: absolute;
    bottom: 0px;
    right: 5vw;
    padding: 50px;
    z-index: 2;
    width: 30vw;
    text-align: end;
    color: var(--white);
}

.project-card-wrap .btn-primary{
    position: absolute;
    top: 50px;
    left: 50px;
    border-color: var(--white);
    color: var(--white);
}

.project-card-wrap .btn-primary:hover{
    color: var(--black);
}

.section-content{
    padding: 120px 0px;
}

/* Pie de Pagina */
.pre-footer .h5{
    font-size: 2.2vw;
}

.map-wrapper{
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.map-wrapper .map-btn-wrap{
    background-color: var(--white);
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 40px;
    text-align: center;
    border-radius: 40px 0px 0px 0px;
}

.map-btn-wrap::before{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    bottom: 0px;
    transform: rotate(270deg);
}

.map-btn-wrap::after{
    content: "";
    background: url(../img/border.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: -40px;
    transform: rotate(270deg);
}

.map-btn-wrap .btn-map{
    border: 2px solid var(--black);
    border-radius: 100%;
    width: 110px;
    height: 110px;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-map ion-icon{
    display: block;
    position: relative;
    transform: rotate(-45deg);
    font-size: 2em;
    margin: 0 auto;
}

footer{
    padding: 50px 0px;
    background: var(--white);
    padding-bottom: 150px;
}

footer .footer-logo{
    width: 170px;
}

footer .copyright-text{
    opacity: .3;
}

.social-icons{
    margin-bottom: 0px;
}

footer .social-icons{
    text-align: right;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

@media only screen and (min-width : 1400px) {    

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .container{
        padding: 0px 20px;
    }

	/* Text Styles */
	.display-1{
		font-size: 50px;
	}

	.h1{
		font-size: 48px;
	}

	.h2{
		font-size: 40px;
	}

    .h3 {
        font-size: 15vw;
        letter-spacing: -5px;
        line-height: 115%;
    }

	.h4{
		font-size: 27px;
        letter-spacing: -2px;
	}

	.h5{
		font-size: 23px;
	}

	.h6{
		font-size: 20px;
	}

	.p{
		font-size: 16px;
	}

    .nav .social-icons{
        display: none;
    }
    
    .nav .logo svg{
        width: 100%;
    }

    .intro-carousel img{
        height: 100%;
        width: auto !important;
    }

    .owl-dots {
        left: 80px;
        bottom: 120px;
    }

    .banner-info{
        display: none;
    }

    .section-intro .h2{
        font-size: 20vw;
        margin-bottom: 60px;
        margin-top: 40px;
    }

    .right-nav{
        display: none;
    }

    .left-nav{
        width: 100%;
        padding: 80px 40px;
        left: -100%;
        border-radius: 0px;
    }
    

    .left-nav .close-btn {
        top: 60px;
        right: 30px;
        display: block;

        background-color: #fff;
        color: var(--black);
        border: 2px solid #000;
        
    }

    .sidebar-menu a span{
        margin-right: 30px;
    }

    .about-image-gallery{
        margin-top: 60px;
    }

    .about-image-gallery .image-wrap{
        height: 50vh;
    }

    .image-wrap img{
        top: 0px;
    }

    .map-wrapper{
        margin-bottom: 40px;
    }

    .product-carousel .image-wrap img{
        height: 100% !important;
        width: auto !important;
    }

    .section-products .h3{
        margin-top: 40px;
    }

    .product-card .btn-primary{
        display: block;
        margin-top: 30px;
    }

    .product-carousel{
        margin-bottom: 120px;
    }

    .product-carousel .product-info {
        position: absolute;
        bottom: -130px;
        right: initial;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .section-products .separator-border-effect{
        display: none;
    }

    .product-card{
        margin-bottom: 120px;
    }

    .showroom-carousel img{
        height: 100% !important;
        width: auto !important;
    }
    
    .showroom-list-content{
        position: relative;
        padding-right: 50px;
    }

    .showroom-carousel .owl-dots{
        display: none;
    }

    .showroom-border-wrap{
        padding: 40px 20px;
        position: relative;
    }

    .showroom-border-wrap .h4{
        font-size: 9vw;
        letter-spacing: -3px;
    }

    footer{
        text-align: center;
    }

    footer .justify-content-end{
        justify-content: center !important;
    }

    footer .footer-logo{
        margin-bottom: 60px;
    }
    
    footer .social-icons{
        text-align: center;
        margin-top: 50px;
    }

    .projects-cards-gallery{
        right: 0px;
    }

    .project-card-wrap{
        height: 70vh;
    }

    .project-card-wrap .project-info{
        right: 0px;
        width: 100%;
    }

    .project-card-wrap .project-info .h4{
        font-size: 45px;
        letter-spacing: -2px;
    }

    .project-card-wrap .btn-primary{
        right: 30px;
        left: initial;
    }

    .project-title{
        position: relative;
        top: initial;
        transform: initial;
        padding-top: 250px;
    }

    .section-image-cover{
        padding: 25vh 0px 70vh 40px;
    }

    .content-block-overlay .top-text{
        top: -75px;
    }

    .section-image-cover .offset-title {
        color: var(--white);
        font-size: 12vw;
        letter-spacing: -3px;
    }

    .offset-title w{
        display: inline-block;
        padding-left: 0px;
    }

    .section-image-cover .content-block-overlay{
        width: 100%;
        bottom: -70vh;
    }

    .gallery-carousel .owl-nav{
        bottom: 0px;
        right: 0px;
    }

    .gallery-carousel{
        padding-bottom: 60px;
    }

    .section-gallery-video .text-end{
        text-align: center !important;
    }

    .process-title{
        padding-left: 20px;
    }

    .process-title .dot{
        margin-right: initial;
        margin-left: 5px;
    }
    
    .process-row p{
        width: 100%;
        margin-bottom: 60px;
        padding-left: 40px;
    }
    
    .process-info img{
        padding-left: 40px;
        padding-right: 10px;
        width: 100%;
    }
    
    .timeline{
        left: 23px;
        transform: initial;
    }

    .timeline-dot{
        transform: initial;
        left: 7px;
        top: 10px;
    }

    .section-image-separator .h4{
        font-size: 10vw;
        letter-spacing: -3px;
    }

    .separator-border-wrap{
        padding-right: 40px;
        position: relative;
    }

    .section-experience .body-regular{
        width: 80%;
    }

    .section-experience .hiper-big{
        font-size: 50vw;
    }
    
    .testimonial-carousel-bg .owl-nav{
        bottom: -30px;
    }

    .testimonial-project-carousel .project-info{
        width: 70%;
    }

    .testimonial-project-carousel .owl-nav{
        bottom: 40px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}